body {
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #3eb650;
}

#upload-title {
  margin-bottom: 50px;
}


.media-body img {
    height: 180px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

#upload-form {
  text-align: center;
  margin: 20px;
}

#choose-file {
  margin-bottom: 20px;
}

#predict-file {
  margin-top: 20px;
}

#output {
  margin-top: 20px;
}

.image-upload {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
    width: 360px;
    background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 1px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.content-section img {
    height: 160px;
    width: auto;
}
